{% extends "base_generic.html" %}

{% block content %}
<div class="flex max-w-screen justify-center items-center p-4">
    <div class ="flex flex-col items-center backdrop-blur pt-12 pb-8 rounded-3xl w-9/12 lg:w-8/12 px-6 mx-6 h-full bg-no-repeat bg-origin-content backdrop-opacity-100 bg-contain bg-right-bottom" style="background-image: url(/static/bego_imac_generic.png)">
        <div class="mb-6 flex flex-row overflow-y-visible w-full h-8">
            <div class="flex flex-col flex-1 bg-orange-500 justify-end items-center">
                <div>
                <h1 class="text-center text-2xl lg:text-6xl text-white font-black drop-shadow-[0_3px_5px_rgba(10,10,10,15)]">Congratulations !</h1>
                </div>
            </div>
        </div>
        <div class="mb-6 flex flex-col lg:flex-row px-8 justify-center items-center w-full">
            <div class="flex-none">
                <h5 class="w-24 md:w-32 text-center whitespace-nowrap block mx-2 p-0.5 lg:p-2 bg-orange-500 rounded-lg text-sm font-medium text-white ">Nama</h5>
            </div>
            <div class="flex w-full flex-col flex-1 bg-gray-50 border border-gray-300 rounded-lg focus:ring-red-500 focus:border-red-500 p-0.5 lg:p-2">
                <div>
                    <h5 class="text-gray-900 text-center text-sm">Namaku</h5>
                </div>
            </div>
        </div>
        <div class="mb-6 flex flex-col lg:flex-row px-8 justify-center items-center w-full">
            <div class="flex-none">
                <h5 class="w-24 md:w-32 text-center whitespace-nowrap block mx-2 p-0.5 lg:p-2 bg-orange-500 rounded-lg text-sm font-medium text-white ">Divisi</h5>
            </div>
            <div class="flex w-full flex-col flex-1 bg-gray-50 border border-gray-300 rounded-lg focus:ring-red-500 focus:border-red-500 p-0.5 lg:p-2">
                <div>
                    <h5 class="text-gray-900 text-center text-sm">Divisiku</h5>
                </div>
            </div>
        </div>
        <div class="mb-6 flex flex-col lg:flex-row px-8 justify-center items-center w-full">
            <div class="flex-none">
                <h5 class="w-24 md:w-32 text-center whitespace-nowrap block mx-2 p-0.5 lg:p-2 bg-orange-500 rounded-lg text-sm font-medium text-white ">Jurusan</h5>
            </div>
            <div class="flex w-full flex-col flex-1 bg-gray-50 border border-gray-300 rounded-lg focus:ring-red-500 focus:border-red-500 p-0.5 lg:p-2">
                <div>
                    <h5 class="text-gray-900 text-center text-sm">Jurusanku</h5>
                </div>
            </div>
        </div>
        <div class="mb-6 flex flex-col lg:flex-row px-8 justify-center items-center w-full">
            <div class="flex-none">
                <h5 class="w-24 md:w-32 text-center whitespace-nowrap block mx-2 p-0.5 lg:p-2 bg-orange-500 rounded-lg text-sm font-medium text-white ">NRP</h5>
            </div>
            <div class="flex w-full flex-col flex-1 bg-gray-50 border border-gray-300 rounded-lg focus:ring-red-500 focus:border-red-500 p-0.5 lg:p-2">
                <div>
                    <h5 class="text-gray-900 text-center text-sm">NRPku</h5>
                </div>
            </div>
        </div>
        <div class="mb-6 flex flex-col lg:flex-row px-8 justify-center items-center w-full">
            <div class="flex-none">
                <h5 class="w-24 md:w-32 text-center whitespace-nowrap block mx-2 p-0.5 lg:p-2 bg-orange-500 rounded-lg text-sm font-medium text-white ">ID IMAC</h5>
            </div>
            <div class="flex w-full flex-col flex-1 bg-gray-50 border border-gray-300 rounded-lg focus:ring-red-500 focus:border-red-500 p-0.5 lg:p-2">
                <div>
                    <h5 class="text-gray-900 text-center text-sm">ID IMACku</h5>
                </div>
            </div>
        </div>
        <p class = "mx-8 text-center text-lg text-gray-100">All of your hardwork is paid off!! We're looking forward for your contribution in IMAC :)</p>
    </div>
</div>
{% endblock content %}