{% extends "base_generic.html" %}

{% block content %}
<div class=" flex flex-col mb-6 mx-8 gap-y-2 items-center">
    <div class="flex h-screen">
        <div class=" flex-row-reverse m-auto basis-108 lg:pl-96">
            <div>
                <h1 class="md:mb-4 text-6xl text-center lg:text-left font-bold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-8xl dark:text-white">IMAC</h1>
                <p class="md:mb-6 text-xl text-center lg:text-left font-semibold text-gray-200 lg:text-3xl dark:text-gray-400">ITS Material Advantage Chapter</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center max-w-5xl m-auto bg-transparent backdrop-blur rounded-3xl">
        <div class="m-1">
            <h1 class="mt-2 text-lg text-center font-semibold leading-none tracking-tight text-gray-100 md:text-lg lg:text-xl dark:text-white">About Us</h1>
            <p class="mb-6 text-base text-center font-normal text-gray-200 lg:text-lg dark:text-gray-400">ITS Material Advantage Chapter (IMAC) is the first and only Material Advantage Chapter in Indonesia that was established in 17th December 2017. We are a student organization that aims to spread and develop the knowledge about minerals, materials, and metallurgy for ITS Students which are the fields that we are focused on.</p>
        </div>
    </div>
    <div>
        <h4 class="text-center mb-2 mt-4 text-4xl font-bold tracking-tight text-gray-100 dark:text-white">Big Event</h4>
    </div>
    <div class="flex flex-row max-w-3xl bg-transparent gap-1 md:gap-6 items-center mx-6">
        <div class="flex-1 max-w-sm bg-transparent backdrop-blur border border-gray-600 rounded-lg dark:border-gray-700 flex flex-col items-center">
            <a href="#">
                <img class="scale-50" src="/static/Question_mark.png" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-center sm:text-md lg:text-2xl font-bold tracking-tight text-gray-100 dark:text-white">Big Event 1</h5>
                </a>
                <a href="#" class="inline-flex items-center px-3 py-2 text-xs md:text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    Read more
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
        <div class="flex-1 max-w-sm bg-transparent backdrop-blur border border-gray-600 rounded-lg dark:border-gray-700 flex flex-col items-center">
            <a href="#">
                <img class="scale-50" src="/static/Question_mark.png" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-center sm:text-md lg:text-2xl font-bold tracking-tight text-gray-100 dark:text-white">Big Event 2</h5>
                </a>
                <a href="#" class="inline-flex items-center px-3 py-2 text-xs md:text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    Read more
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
        <div class="flex-1 max-w-sm bg-transparent backdrop-blur border border-gray-600 rounded-lg dark:border-gray-700 flex flex-col items-center">
            <a href="#">
                <img class="scale-50" src="/static/Question_mark.png" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-center sm:text-md lg:text-2xl font-bold tracking-tight text-gray-100 dark:text-white">Big Event 3</h5>
                </a>
                <a href="#" class="inline-flex items-center px-3 py-2 text-xs md:text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    Read more
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
    </div>
    <div class="flex-1 max-w-3xl bg-transparent mt-12 outline outline-red-700 outline-4 rounded-3xl">
        <div class="p-5">
            <h5 class="text-left sm:text-md lg:text-2xl font-semibold tracking-tight text-gray-100 dark:text-white">Open Recruitment</h5>
            <h3 class="mb-3 text-left sm:text-lg lg:text-5xl font-bold text-gray-100">Staff IMAC 2022/2023</h3>
            <div class="flex flex-row justify-end gap-4">
                <a href="#" class="inline-flex items-center px-3 py-2 text-xs md:text-sm font-medium text-center text-red-100 bg-transparent rounded-lg outline outline-red-700 outline-2 hover:outline-4">
                    Guidebook
                </a>
                <a href="#" class="inline-flex items-center px-3 py-2 text-xs md:text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    Register Now
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}